



















* {
    box-sizing: border-box;
}





@media screen and  (max-width : 650px) {
     h1 { color: green; }
body li { display: inline;}

body #part1 img {margin:1%;}
  body #part1 {

	background-color: #ffffff;
	text-align: center;

	float: right;
	width: 90%;
	margin: 5%;

	margin-bottom: 5%;
	margin-top: 10%;
	
	margin-bottom: 5%;
	margin-top: 10%;
	border-top-right-radius:15px;
border-top-left-radius:15px;
border-bottom-right-radius:15px;
border-bottom-left-radius:15px;
border-top: : 1px solid;
    padding: 10px;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;


}


body #part2 {
	background-color: #ffffff;
	float: left;
	width: 90%;
	margin: 5%;
	margin-bottom: 5%;
	margin-top: 10%;

	border-top-right-radius:15px;
border-top-left-radius:15px;
border-bottom-right-radius:15px;
border-bottom-left-radius:15px;

    border-top: : 1px solid;
    padding: 10px;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
}




p {
	font-family: "Verdana, Arial, Helvetica, sans-serif ";
}


header {
	padding: 1cm 2cm 1cm 2cm;
	background-image: url("header-sky.jpg");
	background-repeat: repeat-x;


}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404040;
}

nav ul li a {
	color: #F6F6E8;
	
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav  ul li a:hover {
    background-color: #00ACE9
;
}

body {background-color: #e8eaed;}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ffffff;
   color: black;
   text-align: center;
}






#wrapper {

	margin-bottom: 5%;
	background-color:#e8eaed;
	
	overflow: auto; /* add this to contain floated children */

}


.card {
	background-color: #ffffff;
	text-align: center;
	float: right;
	width: 20%;
	margin:5%;
	margin-right: 10%;
	margin-bottom: 5%;
	margin-top: 10%;
	
	margin-bottom: 5%;
	margin-top: 10%;
	border-top-right-radius:15px;
border-top-left-radius:15px;
border-bottom-right-radius:15px;
border-bottom-left-radius:15px;
border-top: : 1px solid;
    padding: 10px;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;


}


.card  {
	background-color: #ffffff;
	float: left;
	width: 40%;
	margin: 5%;
	margin-bottom: 5%;
	margin-top: 10%;

	border-top-right-radius:15px;
border-top-left-radius:15px;
border-bottom-right-radius:15px;
border-bottom-left-radius:15px;

    border-top: : 1px solid;
    padding: 10px;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 30px;
	color: #00ABE9;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 15.4px;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.4px;
	color: #6A9A1F;
}


h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 14px;
	color: #6A9A1F;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.4px;
	margin: 1%;
	
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 50;
	line-height: 15.4px;
	clear: both;
}





img {
    max-width: 100%;
    height: auto;
}



#a1 img {
	float: left;
	margin: 1%;

}



#a1 h2 {
	float: left;
	margin-top: 2%;
}



#a1 p {float: right; }



#galleria img {
	
	margin: 1%;


